@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Signika&display=swap');
html,
body {
    margin: 0;
    padding: 5px;
    width: 350px;
    height: 200px;
}

body {
    background: rgb(244, 244, 208);
    background: linear-gradient(180deg, rgba(244, 244, 208, 1) 0%, rgba(252, 255, 155, 1) 50%, rgba(233, 240, 51, 1) 100%);
}

.icon-img {
    position: absolute;
    margin-left: 40px;
    z-index: -1;
}

.head {
    font-family: 'Crete Round', serif;
    font-size: 30px;
    font-display: auto;
}

.show-button {
    font-family: 'Signika', sans-serif;
    padding-top: 15px;
    padding-left: 100vh;
}


/* 
button {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button {
    background: none;
    color: rgb(0, 0, 0);
    background: rgba(255, 255, 255, .2);
    font-family: 'Luckiest Guy', cursive;
    width: 180px;
    height: 100px;
    border: 2px solid rgb(104, 107, 106);
    font-size: 30px;
    border-radius: 4px;
    transition: .7s;
    overflow: hidden;
}

button:focus {
    outline: none;
}

button:before {
    content: '';
    background: rgba(255, 255, 255, .5);
    display: block;
    position: absolute;
    width: 60px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .6s;
    filter: blur(30px);
    transform: translateX(-130px) skewX(-20deg);
}

button:after {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, .2);
    width: 30px;
    height: 100%;
    left: 30px;
    top: 0;
    opacity: 0;
    filter: blur(30px);
    transform: translate(-100px) scaleX(-20deg);
}

button:hover {
    background: rgb(19, 92, 29);
    width: 120px;
    height: 90px;
    font-size: 40px;
    font-family: 'Luckiest Guy', cursive;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

button:hover:after {
    transform: translateX(3000px) skewX(-20deg);
    opacity: .6;
    transition: .7s;
} */